# Auto detect text files and perform LF normalization
# * text=auto

# Source code
*.js linguist-language=JavaScript
# ts-todo/** linguist-vendored
# todo-list/** linguist-vendored
# *.css             text diff=css
# *.html            text diff=html
# *.js              text diff=js
# *.json            text
# *.jsx             text diff=jsx
# *.ts              text diff=ts 
# *.tsx             text diff=tsx
# 👽