# Auto detect text files and perform LF normalization
* text=auto

# Source code

*.css             text diff=css
*.html            text diff=html
*.js              text
*.json            text
*.jsx             text
*.ts              text
*.tsx             text